/* First section */
body{
    display:flex;
    flex-direction:column;
    height:100vh;
    flex:1 1 auto;
    align-items:center;
    font-family:"Roboto",sans-serif;
}
img{
    height:50px;
    width:50px;
}
.first{
    display:flex;
    flex-direction:column;
}
.nav-bar{
    display:flex;
    justify-content:space-between;
}
.link-list{
    display:flex;
    gap:16px;
}
.first-belly{
    display:flex;
    align-items:center;
}
.text{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-width:550px;
    margin-right:auto;
}
.sign_first{
    width:fit-content;
    background-color:lightblue;
}
.title{
    font-size:48px;
    font-weight:900px;
    width:300px;
}
.subtext{
    font-size:24px;
    font-weight:normal;
}
.thor{
    height:150px;
    width:125px;
}
/*Second section */
h2{
    font-size:36px;
    font-weight:900;
}
.second{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:32px;
}
.image-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:32px;
    
    li{
        width:150px;
        display:flex;
        flex-direction:column;
        align-items:center;

        img{
            display:flex;
            width:100px;
            height:100px;
        }
    }
}
/* Third Section */

.third{
    display:flex;
    flex-direction:column;

}
.quote{
    align-self:flex-start;
    width:775px;
    font-size:36px;
    font-weight:300px;
}
.quoter{
    align-self:flex-end;
    font-size:24px;
    font-weight:bolder;
}