/* First section */
body{
    display:flex;
    flex-direction:column;
    max-height:100vh;
    align-items:center;

}
img{
    height:50px;
    width:50px;
}
.first{
    display:flex;
    flex-direction:column;
    gap:32px;
    background-color:#1f2937;
    width:100vw;
}
.nav-bar{
    display:flex;
    justify-content:space-around;
}
.link-list{
    display:flex;
    gap:16px;
}
.first-belly{
    display:flex;
    align-items:center;
    margin:auto;
    color:white;
}
.text{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-width:550px;
    margin-right:auto;
    padding-right:150px;
}
.sign_first{
    width:fit-content;
    background-color:lightblue;
}
.title{
    font-size:48px;
    font-weight:900px;
    width:300px;
}
.subtext{
    font-size:24px;
    font-weight:normal;
}
.thor{
    height:150px;
    width:125px;
}
/*Second section */
h2{
    font-size:36px;
    font-weight:900;
    color:#1f2937;
}
.second{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.image-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:32px;
    padding:50px;
    
    li{
        width:150px;
        display:flex;
        flex-direction:column;
        align-items:center;

        img{
            display:flex;
            width:100px;
            height:100px;
        }
    }
}
/* Third Section */

.third{
    display:flex;
    flex-direction:column;
    width:100vw;
    background-color:#e5e7eb;
    padding:100px;
}
.quote{
    align-self:center;
    width:775px;
    font-size:36px;
    font-weight:300px;
}
.quoter{
    font-size:24px;
    font-weight:bolder;
    margin-left:850px;
}
/* fourth section */

.fourth{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:100px;

}
.box{
    display:flex;
    background-color:aquamarine;
    border-radius:5px;
    margin:25px;
    justify-content:space-between;
    width:750px;
    padding-top:35px;
    padding-bottom:35px;
    padding-left:65px;
    padding-right:65px;
}
.second-sign{
    margin:auto;
}
.bold{
    font-weight:bolder;
}

/* footer */
.footer{
    background-color:#1f2937;
    width:100vw;
    text-align:center;
    color:white;
}